<h2 class="text-center text-green-700 text-5xl">Register Form</h2>
<div class="w-9/12 mx-auto">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="my-4">
   <div class="mb-3">
        <label class=" text-green-700 mb-2 text-sm font-medium text-gray-900 dark:text-white">Name:</label>
        <input formControlName="name" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"  />
         @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
            @if(registerForm.get('name')?.errors?.['required']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Required</span>
            </div>}
            @else if(registerForm.get('name')?.errors?.['minlength']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Min Length is 3</span>
            </div>}
            @else if(registerForm.get('name')?.errors?.['maxlength']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Max Length is 10</span>
            </div>}
         }
    
    
    </div> 
   <div class="mb-3">
        <label class=" text-green-700 mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
        <input formControlName="email" type="email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"  />
             @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){
                @if(registerForm.get('email')?.errors?.['required']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Required</span>
            </div>}
                @else if(registerForm.get('email')?.errors?.['email']){<div class=" mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Please Enter a Valid Email</span>
            </div>}
             }
   
    </div> 
   <div class="mb-3">
        <label class=" text-green-700 mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
        <input formControlName="password" type="password"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"  />
     @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
                @if(registerForm.get('password')?.errors?.['required']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Required</span>
            </div>}
                @else if(registerForm.get('password')?.errors?.['pattern']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Please Enter a Valid password </span>
            </div>}
             }
    
    </div> 
   <div class="mb-3">
        <label class=" text-green-700 mb-2 text-sm font-medium text-gray-900 dark:text-white">Re-Password:</label>
        <input formControlName="rePassword" type="password"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"  />
     @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched){
                @if(registerForm.get('rePassword')?.errors?.['required']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Required</span>
            </div>}
                @else if(registerForm.get('rePassword')?.errors?.['pattern']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Please Enter a Valid rePassword </span>
            </div>}
                
             }
              @if (registerForm.errors?.['passwordMismatch']&& registerForm.get('rePassword')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Re-password does not match </span>
            </div>

                 }
    
    </div> 
   <div class="mb-3">
        <label class=" text-green-700 mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone:</label>
        <input formControlName="phone" type="tel"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"  />
    @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
                @if(registerForm.get('phone')?.errors?.['required']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Required</span>
            </div>}
                @else if(registerForm.get('phone')?.errors?.['pattern']){<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Please Enter a Valid phone </span>
            </div>}
             }
   
   
   
    </div> 

    <button [disabled]="!registerForm.valid" class="p-2 cursor-pointer  disabled:cursor-not-allowed disabled:bg-green-300 text-white rounded bg-green-700 " type="submit">Register</button>

</form>
</div>