


<h2 class="text-5xl font-semibold text-center text-green-700 my-4">All Brands</h2>
<div class="parent grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-4 p-5">
    @for (item of allBrands(); track item._id) {
    
<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" [src]="item.image" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{item.name}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{item.slug}}</p>
        
    </div>
</div>


}
</div>

